<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- The following viewport code is intended to fullscreen the cockpit and prevent scrolling -->
    <meta id="Viewport" name="viewport" width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!--<script type='text/javascript' src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <script type='text/javascript' src="components/jquery/dist/jquery.js"></script>
    <!--script type='text/javascript' src="components/jquery-ui/jquery-ui.min.js"></script-->

    <script type='text/javascript' src="js/no-scroll-fullscreen-viewport.js"></script>


    <title><%= title %></title>
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="themes/OpenROV/css/style.css">
    <!--link href="components/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" /-->
    <link rel="stylesheet" href="plugin/new-ui/css/style.css">

  </head>

  <script type='text/javascript' src="js/libs/eventemitter2.js"></script>
  <!--<script type='text/javascript' src="js/libs/bootstrap.min.js"></script>-->
  <script type='text/javascript' src="components/bootstrap/dist/js/bootstrap.js"></script>
  <script type='text/javascript' src="js/libs/mousetrap.min.js"></script>

  <script type='text/javascript' src='js/libs/gamepad.js'></script>
  <script type='text/javascript' src='js/utilities.js'></script>

  <script type='text/javascript' src="config.js"></script>
  <script type='text/javascript' src="socket.io/socket.io.js"></script>
  <script type='text/javascript' src="system-plugin/globalization/js/initGlobalization.js"></script>
  <script type='text/javascript' src='js/message-manager.js'></script>
  <script type='text/javascript' src='js/eventEmitterStoreAndForward.js'></script>
  <script type='text/javascript' src='js/socketIOStoreAndForward.js'></script>
  <script type='text/javascript' src="js/cockpit.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="plugin/new-ui/js/lib/0_jquery.svg.min.js"></script>
  <script type="text/javascript" src="plugin/new-ui/js/lib/1_jquery.svgdom.min.js"></script>
  <script type="text/javascript" src="plugin/new-ui/js/lib/2_jquery.svganim.min.js"></script>

  <script type="text/javascript" src="components/webcomponentsjs/webcomponents-lite.js"></script>
  <script>
    window.Polymer = window.Polymer || {};
    window.Polymer.dom = 'shadow';
    window.openrovtheme = 'new-ui';
  </script>
  <link rel="import" href="components/polymer/polymer.html">

  <link rel="import" href="components/new-ui/time.html">
  <link rel="import" href="components/new-ui/compass.html">
  <link rel="import" href="components/new-ui/depth.html">
  <link rel="import" href="components/new-ui/throttle.html">
  <link rel="import" href="components/new-ui/switches.html">
  <link rel="import" href="components/new-ui/power.html">
  <link rel="import" href="components/diagnostics/diagnostics.html">
  <link rel="import" href="components/video/orov-video.html">
  <link rel="import" href="components/navigation-data/orov-horizon.html">
  <link rel="import" href="components/connection-health/orov-ping-graph.html">

  <link rel="import" href="components/settings-manager/orov-settings-manager.html">
  <link rel="import" href="components/thrusters2x1/orov-thrusters2x1-motortest.html">
  <% for(var i=0; i<scripts.length; i++) {%>
  <script type="text/javascript" src="<%= scripts[i] %>"></script><% } %>

  <style>
    #UI > * {
      z-index: 1030;
    }
  </style>

  <body>
<template id="t" is="dom-bind">
  <div id="UI" class="full-height">
        <div id="newuiBody" class="full-height">
          <div id="newuiContainer">
            <div class="navbar navbar-inverse navbar-fixed-top navbar-collapse">
              <div id="newuiTopbar" class="container"><div class="navbar-header"><a class="navbar-brand" href="#"><img src="themes/OpenROV/img/openrov.png" class="logo"><span class="navbar-titel">{{__('Cockpit')}}</span></a></div>

                <div id="menu">
                  <rov-menu id="menuitems" class="nav pull-right navbar-nav">
                    <li><a href="#" id="show-settings" onclick="document.querySelector('#plugin-settings').open();">{{__('Settings')}}</a></li>
                    <li><a href="#" id="show-diagnostic" onclick="document.querySelector('#diagnostic').open();">{{__('Diagnostic')}}</a></li>
                  </rov-menu>
                </div>
              </div>
            </div>
          </div>
          <div id="mainContent" class="full-height">

            <div id="newuiVideo" class="full-height">
              <orov-video id="camera1" border='1' style='width: 100%; height:100%; position:relative' location='forward' event-emitter="{{cockpitEventEmitter}}">
                <orov-ping-graph style='position:absolute; top:0px; left:0px; z-index:33;' event-emitter="{{cockpitEventEmitter}}"></orov-ping-graph>

                <orov-horizon id="horizon" style='position:absolute; top:0px; left:0px; z-index:33; width:100%; height:100%' event-emitter="{{cockpitEventEmitter}}"></orov-horizon>
              </orov-video>
            </div>
            <div id="newuiControlpad">
              <div class="newui-item" id="heading-item">
                <div class="center">
                  <h4>{{__('Heading')}}</h4>
                  <div id="newui-compass" class="center control">
                    <orov-newui-compass class="center" heading="0" event-emitter="{{cockpitEventEmitter}}"></orov-newui-compass>
                  </div>
                </div>
              </div>
              <div class="newui-item" id="depth-item">
                <div class="center">
                  <h4>{{__('Depth')}}</h4>
                  <!--<div id="newui-depth" class="center control"></div>-->
                  <orov-newui-depth id="newui-depth" class="center control" event-emitter="{{cockpitEventEmitter}}"></orov-newui-depth>
                </div>
              </div>
              <div class="newui-item" id="throttle-item">
                <div class="center">
                  <h4>{{__('Throttle')}}</h4>
                  <orov-newui-throttle id="newui-throttle" class="center control" event-emitter="{{cockpitEventEmitter}}"></orov-newui-throttle>
                </div>
              </div>
              <div class="newui-item" id="power-item">
                <div class="center">
                  <h4>{{__('Battery')}}</h4>
                  <div id="newui-power" class="center control">
                    <orov-newui-power id="power" event-emitter="{{cockpitEventEmitter}}"></orov-newui-power>
                  </div>
                </div>
              </div>
              <div class="newui-item" id="switches-item">
                <div class="center">
                  <h4>{{__('Switches')}}</h4>
                  <div id="newui-switches" class="center control">
                    <orov-newui-switches id="newui-switches" class="center" event-emitter="{{cockpitEventEmitter}}"></orov-newui-switches>
                  </div>
                </div>
              </div>
              <div class="newui-item" id="time-item">
                <div class="center">
                  <h4>{{__('Time')}}</h4>
                  <div id="newui-time" class="center control">
                    <orov-newui-time event-emitter="{{cockpitEventEmitter}}"></orov-newui-time>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <rov-diagnostics id="diagnostic">
            <div class="settings-block">
              <h4>{{__('Pre-Flight Check')}}</h4>
            </div>
            <div>
              <orov-thrusters2x1-motortest event-emitter="{{cockpitEventEmitter}}"></orov-thrusters2x1-motortest>
            </div>
            <div class="settings-block">
              <h4>{{__('Callibration')}}</h4>
              <a href="#" class="btn btn-default" id="callibrate_compass">{{__('Callibrate Compass')}}</a>
              <a href="#" class="btn btn-default" id="zero_depth">{{__('Zero Depth')}}</a>
            </div>
          </rov-diagnostics>

          <drop-in-dialog id="plugin-settings" header="Settings">
            <div>
            <orov-settings-manager event-emitter="{{cockpitEventEmitter}}"></orov-settings-manager>
          </div>
          </drop-in-dialog>
        </div>

      </div> <!--Placeholder for the UI plugin-->
</template>
  </body>
</html>
