<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../orov-behaviors/orov-behavior.html">

<link rel="import" href="../grid-menu/grid-menu.html">
<link rel="import" href="../grid-menu/grid-menu-button.html">

<link rel="import" href="../../paper-dialog/paper-dialog.html">

<dom-module id="settings-menu">

	<style type="text/css">

		paper-dialog
		{
			color: white;
			position: fixed;

			top: 0px;
			right: 0;
			margin-top: 90px;
			margin-right: 10px;
			width: 20%;

			overflow: auto;
			border-radius: 5px;
			background-color: rgba( 00, 00, 00, 0.7 );
    	}

		modal ::content > *
		{
			margin: 0;
		}

		grid-menu
		{
			--grid-menu-max-width: 135px;
		}

		grid-menu-button
		{
			color:white;
		}

		grid-menu-button[active]
		{
			color: black;
			background-color: white;
			--grid-menu-button-fill-color: black;
		}

	</style>


	<template strip-whitespace>
		<grid-menu id="gridMenu" horizontal-align="right" trigger-icon="settings">

				<grid-menu-button action="callback" target="changeToDesktopUI" icon="image:palette" label="Theme"></grid-menu-button>
				<grid-menu-button action="callback" target="toggleFullscreen" icon="icons:fullscreen" label="Fullscreen"></grid-menu-button>
				<grid-menu-button icon="icons:build" label="Calibrate"></grid-menu-button>
				<grid-menu-button target="modal" icon="hardware:toys" label="Motors"></grid-menu-button>

				<grid-menu-button toggles action="callback" target="toggleLights" icon="icons:lightbulb-outline" label="Lights"></grid-menu-button>
				<grid-menu-button toggles action="callback" target="toggleLasers" icon="image:flare" label="Lasers"></grid-menu-button>
				<grid-menu-button toggles action="callback" target="toggleHeading" icon="maps:navigation" label="Heading"></grid-menu-button>
				<grid-menu-button toggles action="callback" target="toggleDepth" icon="icons:swap-vert" label="Depth"></grid-menu-button>
		</grid-menu>

	</template>


	<script>
		( function()
		{
			Polymer(
			{
				is: 'settings-menu',

				listeners:
				{
					'menuSelection': 'handleMenuSelection'
				},

				behaviors: [namespace('behaviors').oROVStandard],

				handleMenuSelection: function(e)
				{
					if( e.detail.action == "callback" )
					{
						if( this[ e.detail.target ] !== undefined )
						{
							this[ e.detail.target ]( e );
						}
					}
				},

				handleTap: function(e)
				{
				},

				toggleFullscreen: function(e)
				{
					if (!document.fullscreenElement &&    // alternative standard method
				      !document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
				    if (document.documentElement.requestFullscreen) {
				      document.documentElement.requestFullscreen();
				    } else if (document.documentElement.msRequestFullscreen) {
				      document.documentElement.msRequestFullscreen();
				    } else if (document.documentElement.mozRequestFullScreen) {
				      document.documentElement.mozRequestFullScreen();
				    } else if (document.documentElement.webkitRequestFullscreen) {
				      document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
				    }
				  } else {
				    if (document.exitFullscreen) {
				      document.exitFullscreen();
				    } else if (document.msExitFullscreen) {
				      document.msExitFullscreen();
				    } else if (document.mozCancelFullScreen) {
				      document.mozCancelFullScreen();
				    } else if (document.webkitExitFullscreen) {
				      document.webkitExitFullscreen();
				    }
				  }
				},

				toggleLights: function( e )
				{
					if( e.detail.active )
					{
						console.log( "turning lights on" );
						this.eventEmitter.emit( 'plugin.lights.set', 1 );
					}
					else
					{
						console.log( "turning lights off" );
						this.eventEmitter.emit( 'plugin.lights.set', 0 );
					}
				},

				toggleLasers: function( e )
				{
					if( e.detail.active )
					{
						this.eventEmitter.emit( 'plugin.laser.set', 1 );
					}
					else
					{
						this.eventEmitter.emit( 'plugin.laser.set', 0 );
					}
				},

				toggleDepth: function( e )
				{
					if( e.detail.active  )
					{
						this.eventEmitter.emit( 'plugin.rovpilot.depthHold.set', { enabled: true } );
					}
					else
					{
						this.eventEmitter.emit( 'plugin.rovpilot.depthHold.set', { enabled: false } );
					}
				},

				toggleHeading: function( e )
				{
					if( e.detail.active  )
					{
						this.eventEmitter.emit( 'plugin.rovpilot.headingHold.set', { enabled: true } );
					}
					else
					{
						this.eventEmitter.emit( 'plugin.rovpilot.headingHold.set', { enabled: false } );
					}
				},

				changeToDesktopUI: function( e )
				{
					this.eventEmitter.emit( "plugin.settings-manager.persist-data", { "ui-manager": { "selectedUI": "new-ui" } }, function(){ location.reload(); } );
				}
			} );
		}() );

	</script>
</dom-module>
