<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../orov-behaviors/orov-behavior.html">
<dom-module id="orov-newui-depth">
  <style type="text/css">

      .unit {
        font-size: 0.95em;
        margin-bottom: -0.5vw;
        margin-left: 4px;
        margin-right: 4px;
      }
      .text-center { text-align: center;}
      #depthContainer {
        width: 100%;
        margin-bottom: -1.3vw;
        margin-top: -0.6vw;
      }
      #depth {
        font-size: 1.8vw;
        font-weight: bold;
        text-align: center;
      }
      #depth.inverted {
        color: black;
        text-shadow:
          1px 1px 0 #fff,
         -1px -1px 0 #fff,
          1px -1px 0 #fff,
         -1px  1px 0 #fff,
          1px  1px 0 #fff;
      }
      #depthTarget {
        font-size: 1vw;
        font-weight: bold;
        /*padding-top: 2px;*/
      }
      #depthTarget.hidden {
        opacity: 0;
      }
      #depth-footer  {
        width: 100%;
        margin-top: -20px;
      }
      #water-type {
        width: 35%;
        float: left;
      }
      #depth-unit {
        width: 35%;
        text-align: right;
        float: right;
      }
      .depth-line-container,
      #depth-change-container {
        display:table;
        width:100%;
      }
      .depth-line-container span,
      #depth-change-container>div {
        display:table-cell;
        text-align:center;
      }
      .depth-line { width: 50%; height: 5px}
      .depth-line-text {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 0.9em;
      }
      .depth-line hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 0.2em solid white;
        margin: 0 0 .2em;
        padding: 0;
      }
      #depthLock {
        text-align: right;
        right: 10px;
        margin-top: -29px;
      }
      #numberContainer {
        margin-top: 10px;
        padding-bottom: 14px;
      }
      #depthLock.hidden { opacity: 0; }


      #depthChangeUp { padding-left: 1em }
      #depthChangeDown { padding-right: 1em }
      #depth-change-value { vertical-align: middle; font-size: 1.4em }
      #depth-change-unit {
        margin-top: -6px;
      }
      .depth-change-indicator { width: 15px; height: 15px }
      svg { width: 100%; }
    </style>
  <template>
    <div id="depthContainer" style="font-family: Sans">
      <div id="depthLock" class="unit hidden" style="">LK</div>
      <div id="numberContainer">
        <div id="depth" class="center text-center">
          <span>{{formatDepth(depth)}}</span>
        </div>
        <div id="depthTarget" title="Depthhold target depth" class="center text-center hidden">{{target}}</div>
      </div>
      <div id="depth-footer">
        <div id="water-type" class="unit" title="Water type">{{__(waterType)}}</div>
        <div id="depth-unit" class="unit">{{__('m')}}</div>
      </div>
      <div class="depth-line-container">
        <span class="depth-line"><hr></span>
        <span class="depth-line-text">{{__('VSI')}}</span>
        <span class="depth-line"><hr></span>
      </div>
      <div id="depth-change-container">
        <div id="depthChangeUp" class="depth-change-indicator">
          <svg viewBox="0 0 100 100">
            <polygon points="0,100 50,0 100,100" style="fill:black;stroke:black;stroke-width:4"></polygon>
          </svg>
        </div>
        <div id="depth-change-value">{{ change }}</div>
        <div id="depthChangeDown" class="depth-change-indicator">
          <svg viewBox="0 0 100 100">
            <polygon points="0,0 50,100 100,0 " style="fill:none;stroke:black;stroke-width:4"></polygon>
          </svg>
        </div>
      </div>
      <div id="depth-change-unit" class="center text-center unit">{{__('m/s')}}</div>
    </div>
  </template>
  <script>
    (function () {
      Polymer({
        is: 'orov-newui-depth',
        properties: {
          change: {
            type: String,
            value: '0.0'
          },
          depth: {
            type: Number,
            value: 0
          },
          options: {
            type: Object,
            value:  {
                indicatorActive: '#ffffff',
                indicatorInactive: '#000000',
                strokeActive: '#ffffff',
                strokeInactive: '#ffffff'
            }
          },
          target: {
            type: Number,
            value: 0
          },
          waterType: {
            type: String,
            value: 'salt'
          }
        },
        behaviors: [namespace('behaviors').oROVStandard],
        registerEmitterHanlders: function(emitter) {
          var self = this;
          emitter.on('plugin.navigationData.data', function (data) {
            if ('depth' in data) {
              self.set('depth',Number(data.depth));//.toFixed(1);
            }
          });
          emitter.withHistory.on('plugin.rovpilot.depthHold.state', function (state) {
            if(state.enabled){
            self.target = Number(state.targetDepth).toFixed(1);
            $(self.$.depth).addClass('inverted');
            $(self.$.depthTarget).removeClass('hidden');
            $(self.$.depthLock).removeClass('hidden');
          } else{
            self.target = 0;
            $(self.$.depth).removeClass('inverted');
            $(self.$.depthTarget).addClass('hidden');
            $(self.$.depthLock).addClass('hidden');
}
          });
          emitter.on('plugin.diveprofile.watertype', function (data) {
            self.waterType = data.watertype;
          });
        },
        attached: function(){
          var self = this;
          var depthChangeUp = $(this.$.depthChangeUp).find('svg polygon');
          var depthChangeDown = $(this.$.depthChangeDown).find('svg polygon');
          var oldDepth = 0;
          var update = function () {
            var currentDepth = self.depth;
            if (currentDepth > oldDepth) {
              // descending
              depthChangeUp.animate({ svgFill: self.options.indicatorInactive }, { duration: 600 });
              depthChangeDown.animate({ svgFill: self.options.indicatorActive }, { duration: 600 });
            } else if (currentDepth < oldDepth) {
              // ascending
              depthChangeUp.animate({ svgFill: self.options.indicatorActive }, { duration: 600 });
              depthChangeDown.animate({ svgFill: self.options.indicatorInactive }, { duration: 600 });
            } else {
              // neutral
              depthChangeUp.animate({ svgFill: self.options.indicatorInactive }, { duration: 600 });
              depthChangeDown.animate({ svgFill: self.options.indicatorInactive }, { duration: 600 });
            }
            var difference = oldDepth - currentDepth;
            var changeText = '';
            if (difference > 0) {
              changeText = '+';
            }
            changeText += difference.toFixed(2);
            self.change = changeText;
            oldDepth = currentDepth;
          };


          setInterval(update, 1000);
          depthChangeUp.css({
            fill: this.options.indicatorInactive,
            stroke: this.options.strokeInactive
          });
          depthChangeDown.css({
            fill: this.options.indicatorInactive,
            stroke: this.options.strokeInactive
          });
        },
        formatDepth : function(depth){
          return depth.toFixed(1);
        }
      });
    }());
  </script>
</dom-module>
