<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../orov-behaviors/orov-behavior.html">
<dom-module id="orov-newui-switches">
  <style type="text/css">
      #switchesContainer {
        display: table;
        border-collapse: collapse;
      }
      .switches-header-row {
        display: table-row;
      }
      .switches-row {
        display: table-row;
        font-size: 1em;
        line-height: 1em;
      }
      .switches-switch-on,
      .switches-switch-off {
        display: table-cell;
        width: 30%;
      }
      .switches-switch-on {
        text-align: right;
        padding-right: 0.4em;
        border-right: solid 1px white;
      }
      .switches-switch-off {
        text-align: left;
        padding-left: 0.4em;
      }
      .switches-header-row > div,
      .switches-row > div {
        padding-top: 0.1em;
      }
      .switches-header-row {
        border-bottom: solid 1px #ffffff;
        font-weight: bold;
      }
      .switch-on > .switches-switch-on { color: #ffffff }
      .switch-on > .switches-switch-off { color: transparent }
      .switch-off > .switches-switch-on { color: transparent }
      .switch-off > .switches-switch-off { color: #ffffff }
      .switchable { cursor: pointer }

    </style>
  <template>
    <div id="switchesContainer" class="center">
      <div class="switches-header-row">
        <div class="switches-switch-on">{{__('ON')}}</div>
        <div class="switches-switch-off">{{__('OFF')}}</div>
      </div>

    </div>
  </template>
  <script>
    (function () {
      Polymer({
        is: 'orov-newui-switches',
        properties: {
          lastPing: {
            value: function () {
              return new Date();
            }
          },
          switches: {
            type: Object,
            value: function () {
              var self = this;
              return {
                COM: {
                  switchable: false,
                  state: false,
                  events: [
                    {message:'plugin.connection-health.state',fn: function(state){return state.connected;}}
                  ],
                  description: 'Communication status'
                },
                GPD: {
                  switchable: false,
                  state: false,
                  events: [
                    {message:'plugin.input.gamepad.state', fn: function(state){return state.connected;}}
                  ],
                  description: 'Gamepad active/inactive'
                },
                TNK: {
                  switchable: true,
                  state: false,
                  events: [
                    {message:'plugin.tankControl.state', fn: function(state){return state.enabled;}}
                  ],
                  description: 'Tank control active/inactive',
                  switch: function () {
                    if (self.eventEmitter !== undefined){
                      self.eventEmitter.emit('plugin.tankControl.toggle');
                    }
                  }
                },
                DLK: {
                  switchable: true,
                  state: false,
                  events: [
                    {message:'plugin.rovpilot.depthHold.state',fn: function(state){return state.enabled;}}
                  ],
                  description: 'Depthhold active/inactive',
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      self.eventEmitter.emit('plugin.rovpilot.depthHold.set-enabled',!state);
                    }
                  }
                },
                HLK: {
                  switchable: true,
                  state: false,
                  events: [
                    {message:'plugin.rovpilot.headingHold.state',fn: function(state){return state.enabled;}}
                  ],
                  description: 'Heading lock active/inactive',
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      self.eventEmitter.emit('plugin.rovpilot.headingHold.set-enabled',!state);
                    }
                  }
                },
                LSR: {
                  switchable: true,
                  state: false,
                  events: [
                    {message:'plugin.laser.state',fn: function(state){return state.enabled;}}
                  ],
                  description: 'Lasers on/off',
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      self.eventEmitter.emit('plugin.laser.set',!state);
                    }
                  }
                },
                LED: {
                  switchable: true,
                  state: false,
                  description: 'LED lights on/off',
                  events: [
                    {message:'plugin.lights.state',fn: function(state){return state.level>0;}}
                  ],
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      var level = 1;
                      if (state==true) level = 0;
                      self.eventEmitter.emit('plugin.lights.set',level);
                    }
                  }
                },
                XLE: {
                  switchable: true,
                  state: false,
                  description: 'External LED lights on/off',
                  events: [
                    {message:'plugin.externalLights.level',fn: function(level){return level>0;}}
                  ],
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      var level = 1;
                      if (state==true) level = 0;
                      self.eventEmitter.emit('plugin.externalLights.set',level);
                    }
                  }
                },
                ESC: {
                  switchable: true,
                  state: false,
                  events: [
                    {message:'plugin.systemPower.state', fn: function(state){return state.escs_powered;}}
                  ],
                  description: 'ROV ESCs active/inactive',
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      if (state) {
                        self.eventEmitter.emit('plugin.systemPower.powerOffESCs');
                      } else {
                        self.eventEmitter.emit('plugin.systemPower.powerOnESCs');
                      }
                    }
                  }
                },
                REC:{
                  switchable: true,
                  state: false,
                  events: [
                    {message:'plugin-blackbox-recording-status', fn: function(state){return state;}}
                  ],
                  description: 'ROV ESCs active/inactive',
                  switch: function (state) {
                    if (self.eventEmitter !== undefined){
                      if (state) {
                        self.eventEmitter.emit('plugin-blackbox-recording-stop');
                      } else {
                        self.eventEmitter.emit('plugin-blackbox-recording-start');
                      }
                    }
                  }
                },
              };
            }
          }
        },
        behaviors: [namespace('behaviors').oROVStandard],
        registerEmitterHanlders: function(emitter) {
          var self = this;
          var container = $(this.$.switchesContainer);
          for (var aSwitch in self.switches) {
            container.append('<div class="switches-row ' + (self.switches[aSwitch].switchable ? 'switchable' : '') + '" id="' + aSwitch + '" title="' + self.switches[aSwitch].description + '">' + '<div class="switches-switch-on">' + aSwitch + '</div>' + '<div class="switches-switch-off">' + aSwitch + '</div>' + '</div>');
            if (self.switches[aSwitch].switchable) {
              container.find('#' + aSwitch).click(function () {
                var property = $(this).attr('id');
                self.switch(property);
                self.onSwitch(property);
              });
            }
            this.registerListeners(aSwitch,emitter);
          }
        },
        update: function () {
          for (var aSwitch in this.switches) {
            var theSwitch = $(this.$.switchesContainer).find('#' + aSwitch);
            var toRemove = this.switches[aSwitch].state ? 'switch-off' : 'switch-on';
            var toAdd = this.switches[aSwitch].state ? 'switch-on' : 'switch-off';
            theSwitch.removeClass(toRemove);
            theSwitch.addClass(toAdd);
          }
        },
        switch: function (aSwitch) {
          var self = this;
          self.switches[aSwitch].state = !self.switches[aSwitch].state;
          self.update();
        },
        registerListeners: function (aSwitch,emitter) {
          var self = this;
          // register the enabled/disabled messages
          if (self.switches[aSwitch].events !== undefined){
            for(i in self.switches[aSwitch].events){
              var e = self.switches[aSwitch].events[i];
              console.log("Registering switch listener: " + e.message);
              emitter.withHistory.on(e.message,function(){
                self.switches[aSwitch].state = e.fn.apply(this,arguments);
                self.update();
              })// e.fn.bind(self.switches[aSwitch]));
            }
          }
        },
        attached: function () {
          var self = this;
          self.onSwitch = function (aSwitch) {
            if (self.switches[aSwitch].switch) {
              self.switches[aSwitch].state = !self.switches[aSwitch].state;
              self.switches[aSwitch].switch(self.switches[aSwitch].state);
            }
          };

        }
      });
    }());
  </script>
</dom-module>
