<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../mjpeg-video-webcomponents/mjpeg-video.html">
<link rel="import" href="../packet-video/packet-video.html">
<link rel="import" href="../orov-behaviors/orov-behavior.html">
<dom-module name="orov-video">
  <style>
  </style>
  <template>

    <template is="dom-if" if="{{displayPlayer(videoMimeType,'video/x-motion-jpeg')}}" iff="{{videoMimeType == 'video/x-motion-jpeg'}}">
    <mjpeg-video id="camera1" border='1' style='width: 100%; height:100%'
      menuState='on'
      src='{{videoSource}}'
      framespersecond='{{framesPerSecond}}'
      canvas='{{canvas}}'
      cors='false'
      showMenu='true'>
      <content></content>
     </mjpeg-video>
    </template>

    <template id="mp4template" is="dom-if" if="{{displayPlayer(videoMimeType,'video/mp4')}}" iff="{{videoMimeType == 'video/mp4'}}">
      <packet-video id="camera1" border='1' style='width: 100%; height:100%'
        menuState='on'
        src='{{videoSource}}'
        framespersecond='{{framesPerSecond}}'
        canvas='{{canvas}}'
        cors='false'
        showMenu='true'>
      <content></content>
    </packet-video>
    </template>


  </template>
  <script>
    (function() {
      Polymer({
        is: "orov-video",
        properties: {
          videoSource: {type:Object},
          framesPerSecond: {type:Number},
          canvas: {type:Object, observer: '_canvasChanged'},
          videoMimeType: {type:String},
          location: {type:String}
        },
        behaviors: [namespace('behaviors').oROVStandard],
        packetVideo_initializationInProgress: false,
        registerEmitterHanlders: function(emitter){
          var self = this;

          emitter.withHistory.on('settings-change.video',function(settings){
            self.videoSource = settings.video.forward_camera_url;
          });

          emitter.on('video.forward.get-canvas',function(callback){
            if (typeof(callback)==='function'){
              callback({forwardCanvas:this.canvas});
            }
          });

          emitter.withHistory.on('CameraRegistration',function(data){
            if (data.location!==self.location) return;
            //      self.rov.emit('CameraRegistration',{cameraLocation:'front', videoMimeType:'video/mp4', resolution:'1920x1080', framerate:30, sourcePort:service.port, sourceAddress:service.address});
            self.videoMimeType=data.videoMimeType;
            self.framesPerSecond=data.framerate;
            self.videoSource = data.sourceAddress;
          });

          //If we have segmented mp4 data streaming for this camera,
          //we go ahead and request the initalization packet and
          //init the camera before appending the raw data.

          emitter.on('x-h264-video.data',function(data){
            if (self.$$('#camera1')===null){
              return;
            }
            if(self.$$('#camera1').initialized){
              self.$$('#camera1').append(new Uint8Array(data));
            } else {
              if(!self.packetVideo_initializationInProgress){
                self.packetVideo_initializationInProgress = true;
                emitter.emit('request_Init_Segment',function(data){
                  self.$$('#camera1').init(new Uint8Array(data),function(){
                    packetVideo_initializationInProgress = false;
                  });
                });
                //timeout and try agian after 1 second
                setTimeout(function(){
                  self.packetVideo_initializationInProgress = false;
                },5000);
              }
            }
          })

        },
        _canvasChanged: function(){
          if (this.eventEmitter!==undefined){
            this.eventEmitter.emit('video.forward.canvas-changed',this.canvas);
          }
        },
        displayPlayer(mimeType,playerType){
          return mimeType==playerType;
        }
      })
    })();
  </script>

</dom-module>
